{% extends "base.html" %}

{% block title %}Login - Digitalentum{% endblock %}

{% block content %}
<h1>Login to Digitalentum</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashes">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }}
    <div style="margin-bottom: 15px;">
        {{ form.username.label }}
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div style="margin-bottom: 15px;">
        {{ form.password.label }}
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div style="margin-bottom: 15px;">
        {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
<p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
{% endblock %}